.skillblock h3,
.skillblock p {
    width: 90%;
    text-align: left;
    max-width: 900px
}

#imgblock2,
.skillblock h3,
.skillblock p,
.imgblock,
.imgblockcontainer {
    margin-left: auto;
    margin-right: auto
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

::-moz-selection {
    color: #2ecc71;
    background: 0 0
}

::selection {
    color: #2ecc71;
    background: 0 0
}

@font-face {
    font-family: district_prothin;
    src: url(../font/district/distproth-webfont.eot);
    src: url(../font/district/distproth-webfont.eot?#iefix) format('embedded-opentype'), url(../font/district/distproth-webfont.woff2) format('woff2'), url(../font/district/distproth-webfont.woff) format('woff'), url(../font/district/distproth-webfont.ttf) format('truetype'), url(../font/district/distproth-webfont.svg#district_prothin) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: bebas_neueregular;
    src: url(../font/bebas/bebasneue-webfont.eot);
    src: url(../font/bebas/bebasneue-webfont.eot?#iefix) format('embedded-opentype'), url(../font/bebas/bebasneue-webfont.woff2) format('woff2'), url(../font/bebas/bebasneue-webfont.woff) format('woff'), url(../font/bebas/bebasneue-webfont.ttf) format('truetype'), url(../font/bebas/bebasneue-webfont.svg#bebas_neueregular) format('svg');
    font-weight: 400;
    font-style: normal
}

#menubutton:hover {
    box-shadow: 2px 7px 7px -7px
}

#contentprojet #maquette,
#imgblock2,
.motioncontain img {
    box-shadow: 0 6px 40px rgba(0, 0, 0, .15)
}

.skillblock {
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    padding-top: 120px;
    padding-bottom: 120px
}

.skillblock strong {
    font-style: italic;
    color: #474849
}

.skillblock a {
    text-decoration: none;
    color: #00b4cf
}

.skillblock a:hover {
    text-decoration: underline
}

.skillblock h3 {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #484848
}

.skillblock p,
.imgblocktxtcontainer h3 {
    font-weight: 400;
    font-family: Roboto, sans-serif
}

.skillblock p {
    font-size: 28px;
    line-height: 42px;
    letter-spacing: .8px;
    color: #151617;
    padding-top: 12px
}

.imgblock {
    width: 100%;
    min-height: 600px;
    background: #fff;
    background-size: cover;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0
}

#intro,
.postintro {
    white-space: normal;
    background: #fff;
    vertical-align: bottom;
    box-sizing: border-box;
    position: relative
}

.imgblockcontainer {
    width: 80%;
    max-width: 900px
}

#intro,
nav .sep {
    max-width: 1300px
}

#imglivre {
    width: 60%;
    height: 500px;
    background: url(../img/imac.png) center no-repeat;
    background-size: contain;
    display: inline-block
}

.imgblocktxtcontainer {
    width: 40%;
    box-sizing: border-box;
    padding: 60px;
    margin-top: 40px;
    float: right
}

.imgblocktxtcontainer h3 {
    color: #151617;
    font-size: 48px;
    line-height: 72px;
    padding-bottom: 20px;
    letter-spacing: 1px
}

.imgblocktxtcontainer h3 strong {
    font-weight: 300
}

.imgblocktxtcontainer p {
    font-family: Roboto, sans-serif;
    color: #151617;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: .7px
}

#intro h2,
.postintro h3,
.postintro p {
    font-weight: 300;
    text-align: center
}

#imgblock2 {
    width: 100%;
    background: url(../img/imgblock.jpg) no-repeat;
    background-size: cover;
    overflow-x: hidden
}

#imgblock2 img {
    height: 100%
}

.sep {
    width: 60px;
    height: 0
}

nav .sep {
    width: 70%;
    border: 1px solid rgba(255, 255, 255, .06);
    margin: 90px auto 190px
}

#intro .sep {
    border-top: .5px solid rgba(221, 221, 221, .6);
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.txtwork .sep,
.txtwork2 .sep {
    border: 1px solid rgba(255, 255, 255, .6);
    margin-left: auto;
    margin-right: auto
}

.txtwork2 .sep {
    width: 20%
}

.titleblockcontainer .sep {
    margin-left: inherit;
    margin-right: inherit;
    width: 60px;
    border: 1px solid #ddd;
    margin-top: 10px;
    margin-bottom: 10px
}

footer .sep {
    border: 1px solid rgba(255, 255, 255, .3);
    width: 20%;
    margin-left: auto;
    margin-right: auto
}

.imgblocktxtcontainer .sep {
    border: 1px solid rgba(71, 71, 71, .6);
    width: 20px;
    margin-top: 20px;
    margin-bottom: 16px;
    margin-left: inherit;
    margin-right: inherit
}

#contentp,
#contentw,
#intro,
.postintro,
.postintro p {
    margin-left: auto;
    margin-right: auto
}

#intro {
    -webkit-transition: all 320ms ease-in-out;
    -moz-transition: all 320ms ease-in-out;
    -ms-transition: all 320ms ease-in-out;
    -o-transition: all 320ms ease-in-out;
    transition: all 320ms ease-in-out;
    width: 100%;
    height: auto;
    padding-top: 44px;
    margin-top: -112px
}

#cercletop,
#menubutton,
#socialbutton,
#top,
#topimg,
.formes,
nav ul li {
    -webkit-transition: all 180ms ease-in-out;
    -moz-transition: all 180ms ease-in-out;
    -ms-transition: all 180ms ease-in-out;
    -o-transition: all 180ms ease-in-out;
    transition: all 180ms ease-in-out
}
.formes {
    box-shadow:none;
    border-color:transparent;
}
#top {
    background: -webkit-linear-gradient(120deg,#192a56, #182C61, #273c75, #3B3B98, #6c5ce7, #7d5fff, #1B9CFC, #a29bfe, #D6A2E8, #fab1a0, #ff7675, #d63031, #ff3838);
	background: -o-linear-gradient(120deg,#192a56, #182C61, #273c75, #3B3B98, #6c5ce7, #7d5fff, #1B9CFC, #a29bfe, #D6A2E8, #fab1a0, #ff7675, #d63031, #ff3838);
	background: linear-gradient(210deg,#192a56, #182C61, #273c75, #3B3B98, #6c5ce7, #7d5fff, #1B9CFC, #a29bfe, #D6A2E8, #fab1a0, #ff7675, #d63031, #ff3838);
	background-size: 2000% 4000%;
	-webkit-animation: couleur 24s ease infinite;
	-moz-animation: couleur 24s ease infinite;
	animation: couleur 24s ease infinite;
}

#footersocial i,
#navsocial,
#navsocial a,
#quitnav,
#social a,
nav ul li a {
    -webkit-transition: all 110ms ease-in-out;
    -moz-transition: all 110ms ease-in-out;
    -ms-transition: all 110ms ease-in-out;
    -o-transition: all 110ms ease-in-out;
    transition: all 110ms ease-in-out
}

#top,
.cls-1,
h1,
nav {
    -webkit-transition: all 580ms ease-out;
    -moz-transition: all 580ms ease-out;
    -ms-transition: all 580ms ease-out;
    -o-transition: all 580ms ease-out;
    transition: all 580ms ease-out
}

#content {
    width: 100%;
    height: auto;
    background: url(../img/test.png) center;
    border-top: 1px solid #ddd;
    position: relative
}

#content:nth-child(-n+20) {
    z-index: 10
}

.postintro {
    width: 100%;
    height: auto;
    padding-top: 90px;
    padding-bottom: 90px
}

#intro h2 {
    font-family: district_prothin;
    letter-spacing: 1.4px;
    font-size: 32px;
    padding-bottom: 34px;
    color: #151617
}

.postintro h3,
.postintro p,
.txtwork p {
    font-family: Roboto, sans-serif
}

.postintro h3 {
    font-size: 16px;
    font-style: italic;
    color: #5c5c5c;
    letter-spacing: 1.2px
}

.postintro p {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 1px;
    color: #474849;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    max-width: 900px
}

#textportrait h3,
#textportrait p,
.txtwork h3 {
    font-family: district_prothin
}

.postintro p strong {
    font-weight: 400;
    font-style: italic
}

#contentw {
    width: 100%;
    max-width: 1200px;
    position: relative;
    box-sizing: border-box
}

#contentp {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    background: #e6e6e6;
    min-height: 800px
}

#portrait {
    min-height: 800px;
    width: 100%;
    position: absolute;
    background: url(../img/fond.jpg) center no-repeat;
    background-size: cover;
    top: 0;
    text-align: center;
    border-bottom: 1px solid rgba(21, 22, 23, .06);
    border-top: 1px solid rgba(21, 22, 23, .06)
}

#textportrait {
    width: 50%;
    min-height: 800px;
    float: right;
    text-align: justify;
    position: relative
}

#textportrait h3 {
    font-size: 42px;
    font-weight: 400;
    margin-top: 180px;
    margin-bottom: 60px;
    padding-left: 60px;
    width: 70%;
    color: #151617
}

#textportrait p {
    padding-left: 60px;
    margin-bottom: 30px;
    width: 80%;
    max-width: 500px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: .4px;
    color: #292a2b
}

.contentwork {
    width: 50%;
    max-width: 1200px;
    min-height: 800px;
    display: inline-block;
    margin-top: 120px;
    margin-bottom: 120px
}

.txtwork,
.txtwork2 {
    min-height: 400px;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    width: 100%;
    box-sizing: border-box
}

#lastcontentwork {
    float: right
}

.txtwork {
    background: url(../img/3.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    padding-left: 60px;
    padding-right: 60px
}

.txtwork h3 {
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 28px;
    letter-spacing: 1.1px
}

.txtwork p {
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #ececec;
    text-align: left;
    padding-top: 28px;
    padding-bottom: 90px;
    letter-spacing: .4px
}

.txtwork2 h3,
.txtwork2 p {
    font-family: Roboto, sans-serif;
    color: #151617;
    text-align: left
}

.txtwork2 {
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 90px;
    background: #fff;
    border: none
}

.txtwork2 h3 {
    font-weight: 500;
    font-size: 16px;
    padding-top: 90px;
    letter-spacing: .5px
}

.txtwork2 p {
    font-weight: 300;
    font-size: 22px;
    line-height: 33px;
    margin-top: 38px;
    height: auto;
    letter-spacing: 1px
}

.anim {
    display: none;
}

.imgwork {
    width: 100%;
    height: 400px;
    display: inline-block;
    margin: 0;
    white-space: normal;
    vertical-align: top
}

.imgwork1 {
    overflow: hidden;
    white-space: normal
}
.imgwork1 img
{
    width:100%;
    min-width:600px;
}
.imgwork2 {
    box-sizing: border-box;
    background: url(../img/5.jpg) center no-repeat;
    background-size: cover;
    white-space: normal
}

.introprojet {
    width: 100%;
    text-align: center;
    margin-bottom: 90px
}

.titleblock {
    width: 100%;
    background: #00b4cf;
    background-size: cover;
    position: relative;
    padding-top: 90px;
    padding-bottom: 300px
}

.titleblockcontainer {
    width: 90%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: left
}

.introprojet h3,
.introprojet p {
    width: 100%;
    font-family: Roboto, sans-serif;
    color: #fff
}

#containfooter,
#contentprojet {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto
}

.introprojet h3 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

.introprojet p {
    font-size: 28px;
    line-height: 42px;
    letter-spacing: .8px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 12px
}

#contentprojet {
    width: 90%;
    position: relative;
    margin-top: -300px;
    text-align: left;
    padding-bottom: 90px
}

#contentprojet #maquette,
.motioncontain {
    width: 50%;
    display: inline-block;
    white-space: normal
}

#contentprojet #maquette {
    position: relative;
    border-radius: 3px;
    background: url(../img/test.png) center
}

.motioncontain {
    top: 210px;
    left: 50%;
    position: absolute
}

.motioncontain img {
    width: 100%
}

#acd,
#outsider,
#perspe,
#verre {
    width: 50%;
    left: 50%
}

#acd {
    top: 42.9%
}

#verre {
    top: 57.5%
}

#perspe img,
#verre img {
    box-shadow: inherit
}

#perspe {
    height: 40%;
    top: 12.5%;
    background: url(../img/pickl.png) center no-repeat;
    background-size: contain
}

#outsider {
    top: 73%
}

footer {
    width: 100%;
    min-height: 380px;
    margin-top: 0;
    background: -webkit-linear-gradient(120deg, #00b4cf, #00b4cf, #2ecc71, #f1c40f, #f1c40f);
    background: -o-linear-gradient(120deg, #00b4cf, #00b4cf, #2ecc71, #f1c40f, #f1c40f);
    background: linear-gradient(210deg, #00b4cf, #00b4cf, #2ecc71, #f1c40f, #f1c40f);
    background-size: 600% 600%;
    -webkit-animation: couleur 12s ease infinite;
    -moz-animation: couleur 12s ease infinite;
    animation: couleur 12s ease infinite
}

#containfooter {
    width: 90%;
    min-height: 360px
}

#containfooter h3 {
    padding: 120px 0 20px;
    margin: 0;
    height: 50px;
    font-family: bebas_neueregular;
    font-weight: 100;
    text-align: center;
    font-size: 2.8rem;
    text-transform: uppercase;
    letter-spacing: 15px;
    color: rgba(251, 252, 253, 1);
    opacity: 1
}

#footersocial {
    padding-top: 30px;
    width: 100%;
    height: 60px;
    text-align: center
}

#footersocial i {
    color: #fff;
    font-size: 24px;
    padding-left: 8px;
    padding-right: 8px
}

#footersocial i:hover {
    color: #dddedf
}

#footerphoto {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px
}

#footerphoto img {
    width: 24px;
    opacity: .9
}

.cercle {
    border-radius: 60px
}

.grille {
    display: none;
    position: absolute;
    border-left: 1px solid rgba(221, 221, 221, 1);
    border-right: 1px solid rgba(221, 221, 221, 1);
    border-right: 0
}

.lgrille {
    height: 100%;
    width: 0;
    top: 0
}

@-webkit-keyframes load2 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes load2 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes couleur {
    0%,
    100% {
        background-position: 68% 0
    }
    50% {
        background-position: 33% 100%
    }
}

@-moz-keyframes couleur {
    0%,
    100% {
        background-position: 68% 0
    }
    50% {
        background-position: 33% 100%
    }
}

@keyframes couleur {
    0%,
    100% {
        background-position: 68% 0
    }
    50% {
        background-position: 33% 100%
    }
}

@keyframes rotation {
    from {
        transform: rotateZ(0)
    }
    to {
        transform: rotateZ(360deg)
    }
}

@keyframes levitation {
    0% {
        transform: rotateZ(0);
        margin-left: 0;
        margin-bottom: 0;
    }
    40% {
        transform: rotateZ(360deg);
        margin-left: -20px;
        margin-bottom: 480px
    }
    70% {
        transform: rotateZ(0);
        margin-left: 10px;
        margin-bottom: 840px
    }
    100% {
        transform: rotateZ(180deg);
        margin-left: 0;
        margin-bottom: 1200px
    }
}

#footerphoto img:active,
#footerphoto img:focus,
#footerphoto img:hover {
    -webkit-animation-name: hvr-icon-buzz-out;
    animation-name: hvr-icon-buzz-out;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    opacity: 1
}

@keyframes hvr-icon-buzz-out {
    10%,
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    20%,
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
    50%,
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    60%,
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0)
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0)
    }
}

@media screen and (max-width:900px) {
    .imgwork1 video {
        display: none;
    }
    #loadanimcontent video {
        display: none;
    }
    .anim {
        display: block;
    }
    #intro,
    #intro h3 {
        padding-bottom: 40px
    }
    #contentp,
    #portrait,
    #textportrait {
        min-height: 400px
    }
    #intro,
    #textportrait,
    #top h1 {
        margin-left: auto;
        margin-right: auto
    }
    #textportrait h3,
    #textportrait p {
        text-align: center;
        max-width: none
    }
    nav {
        height: 500px
    }
    .loader #loadanimcontent {
        width: 90%
    }
    #contentw,
    #intro {
        width: 100%
    }
    nav ul li {
        font-size: 12px;
        line-height: 60px
    }
    #navsocial {
        padding: 20px;
        width: 40%
    }
    #navsocial a {
        font-size: 20px;
        padding-left: 2px;
        padding-right: 2px
    }
    #socialbutton {
        display: none
    }
    #content {
        padding-left: 0;
        padding-right: 0
    }
    #quitnav {
        margin: 20px;
        padding: 0;
        width: 30%
    }
    #top h1 {
        font-weight: 500;
        font-size: 60px
    }
    .skillblock {
        padding-top: 160px;
    }
    #intro {
        margin-top: -72px;
        padding-top: 26px
    }
    #intro h2 {
        font-size: 18px
    }
    #intro h3 {
        font-size: 12px
    }
    #intro p {
        font-size: 16px;
        line-height: 27px
    }
    #portrait {
        background: #ececec
    }
    #textportrait {
        float: left;
        width: 100%;
        float: left
    }
    #textportrait h3 {
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 90px;
        width: 80%
    }
    #textportrait p {
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 90px;
        padding: none
    }
    .imgwork,
    .txtwork,
    .txtwork2 {
        display: block;
        margin-top: 0;
        margin-bottom: 0
    }
    .contentwork {
        width: 100%;
        height: inherit
    }
    #lastcontentwork {
        float: inherit
    }
    .2 {
        background: #fbfbfb
    }
    .txtwork,
    .txtwork2 {
        width: 100%;
        top: 0
    }
    .imgwork1 {
        overflow: hidden;
        white-space: normal;
        width: 100%;
        height: 400px;
        background: url(../img/livremin.jpg) center no-repeat;
        background-size: cover
    }
    .imgwork2 {
        width: 100%
    }
    .titleblock {
        padding-bottom: 120px
    }
    #contentprojet {
        margin-top: -150px
    }
    .motioncontain {
        top: 60px
    }
    footer {
        background: #00b4cf
    }
    #containfooter h3 {
        font-size: 1.85rem;
        letter-spacing: 8px
    }
}

@font-face {
    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: 400;
    src: local('Archivo Black Regular'), local('ArchivoBlack-Regular'), url(https://fonts.gstatic.com/s/archivoblack/v9/HTxqL289NzCGg4MzN6KJ7eW6CYyF-w.ttf) format('truetype');
  }
  html,
  body {
    height: 100%;
  }
  body {
    background: black;
    font-family: 'Archivo Black', sans-serif;
  }
  .glitch-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .glitch {
    color: white;
    font-size: 84px;
    text-transform: upercase;
    position: relative;
    display: inline-block;
  }
  .glitch::before,
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
  }
  .glitch::before {
    left: 1px;
    top:3px;
    text-shadow: 0px 0 #26de81;
    opacity:.5;
    clip: rect(24px, 550px, 90px, 0);
    animation: glitch-anim-2 2.8s infinite ease-in reverse;
  }
  .glitch::after {
    left: -3px;
    top:-2px;
    text-shadow: 0px 0 #fc5c65;
    opacity:.5;
    clip: rect(85px, 550px, 140px, 0);
    animation: glitch-anim 2.2s infinite ease-out alternate-reverse;
  }
  @-webkit-keyframes glitch-anim {
    0% {
      clip: rect(62px, 9999px, 144px, 0);
    }
    4.166666666666666% {
      clip: rect(65px, 9999px, 58px, 0);
    }
    8.333333333333332% {
      clip: rect(95px, 9999px, 28px, 0);
    }
    12.5% {
      clip: rect(45px, 9999px, 39px, 0);
    }
    16.666666666666664% {
      clip: rect(142px, 9999px, 50px, 0);
    }
    20.833333333333336% {
      clip: rect(111px, 9999px, 20px, 0);
    }
    25% {
      clip: rect(27px, 9999px, 89px, 0);
    }
    29.166666666666668% {
      clip: rect(27px, 9999px, 29px, 0);
    }
    33.33333333333333% {
      clip: rect(68px, 9999px, 22px, 0);
    }
    37.5% {
      clip: rect(122px, 9999px, 71px, 0);
    }
    41.66666666666667% {
      clip: rect(31px, 9999px, 87px, 0);
    }
    45.83333333333333% {
      clip: rect(123px, 9999px, 67px, 0);
    }
    50% {
      clip: rect(97px, 9999px, 41px, 0);
    }
    54.166666666666664% {
      clip: rect(85px, 9999px, 60px, 0);
    }
    58.333333333333336% {
      clip: rect(96px, 9999px, 92px, 0);
    }
    62.5% {
      clip: rect(1px, 9999px, 145px, 0);
    }
    66.66666666666666% {
      clip: rect(66px, 9999px, 43px, 0);
    }
    70.83333333333334% {
      clip: rect(143px, 9999px, 42px, 0);
    }
    75% {
      clip: rect(51px, 9999px, 82px, 0);
    }
    79.16666666666666% {
      clip: rect(31px, 9999px, 38px, 0);
    }
    83.33333333333334% {
      clip: rect(146px, 9999px, 42px, 0);
    }
    87.5% {
      clip: rect(145px, 9999px, 67px, 0);
    }
    91.66666666666666% {
      clip: rect(16px, 9999px, 18px, 0);
    }
    95.83333333333334% {
      clip: rect(24px, 9999px, 7px, 0);
    }
    100% {
      clip: rect(99px, 9999px, 33px, 0);
    }
  }
  @keyframes glitch-anim {
    0% {
      clip: rect(62px, 9999px, 144px, 0);
    }
    4.166666666666666% {
      clip: rect(65px, 9999px, 58px, 0);
    }
    8.333333333333332% {
      clip: rect(95px, 9999px, 28px, 0);
    }
    12.5% {
      clip: rect(45px, 9999px, 39px, 0);
    }
    16.666666666666664% {
      clip: rect(142px, 9999px, 50px, 0);
    }
    20.833333333333336% {
      clip: rect(111px, 9999px, 20px, 0);
    }
    25% {
      clip: rect(27px, 9999px, 89px, 0);
    }
    29.166666666666668% {
      clip: rect(27px, 9999px, 29px, 0);
    }
    33.33333333333333% {
      clip: rect(68px, 9999px, 22px, 0);
    }
    37.5% {
      clip: rect(122px, 9999px, 71px, 0);
    }
    41.66666666666667% {
      clip: rect(31px, 9999px, 87px, 0);
    }
    45.83333333333333% {
      clip: rect(123px, 9999px, 67px, 0);
    }
    50% {
      clip: rect(97px, 9999px, 41px, 0);
    }
    54.166666666666664% {
      clip: rect(85px, 9999px, 60px, 0);
    }
    58.333333333333336% {
      clip: rect(96px, 9999px, 92px, 0);
    }
    62.5% {
      clip: rect(1px, 9999px, 145px, 0);
    }
    66.66666666666666% {
      clip: rect(66px, 9999px, 43px, 0);
    }
    70.83333333333334% {
      clip: rect(143px, 9999px, 42px, 0);
    }
    75% {
      clip: rect(51px, 9999px, 82px, 0);
    }
    79.16666666666666% {
      clip: rect(31px, 9999px, 38px, 0);
    }
    83.33333333333334% {
      clip: rect(146px, 9999px, 42px, 0);
    }
    87.5% {
      clip: rect(145px, 9999px, 67px, 0);
    }
    91.66666666666666% {
      clip: rect(16px, 9999px, 18px, 0);
    }
    95.83333333333334% {
      clip: rect(24px, 9999px, 7px, 0);
    }
    100% {
      clip: rect(99px, 9999px, 33px, 0);
    }
  }
  @-webkit-keyframes glitch-anim-2 {
    6.666666666666667% {
      clip: rect(17px, 9999px, 78px, 0);
    }
    10% {
      clip: rect(75px, 9999px, 59px, 0);
    }
    13.333333333333334% {
      clip: rect(40px, 9999px, 146px, 0);
    }
    16.666666666666664% {
      clip: rect(46px, 9999px, 40px, 0);
    }
    20% {
      clip: rect(99px, 9999px, 120px, 0);
    }
    23.333333333333332% {
      clip: rect(114px, 9999px, 111px, 0);
    }
    26.666666666666668% {
      clip: rect(126px, 9999px, 13px, 0);
    }
    30% {
      clip: rect(31px, 9999px, 7px, 0);
    }
    33.33333333333333% {
      clip: rect(84px, 9999px, 40px, 0);
    }
    36.666666666666664% {
      clip: rect(106px, 9999px, 28px, 0);
    }
    40% {
      clip: rect(111px, 9999px, 35px, 0);
    }
    43.333333333333336% {
      clip: rect(22px, 9999px, 125px, 0);
    }
    46.666666666666664% {
      clip: rect(91px, 9999px, 11px, 0);
    }
    50% {
      clip: rect(42px, 9999px, 66px, 0);
    }
    53.333333333333336% {
      clip: rect(79px, 9999px, 95px, 0);
    }
    56.666666666666664% {
      clip: rect(81px, 9999px, 146px, 0);
    }
    60% {
      clip: rect(13px, 9999px, 106px, 0);
    }
    63.33333333333333% {
      clip: rect(133px, 9999px, 72px, 0);
    }
    66.66666666666666% {
      clip: rect(58px, 9999px, 143px, 0);
    }
    70% {
      clip: rect(3px, 9999px, 104px, 0);
    }
    73.33333333333333% {
      clip: rect(71px, 9999px, 69px, 0);
    }
    76.66666666666667% {
      clip: rect(4px, 9999px, 87px, 0);
    }
    80% {
      clip: rect(141px, 9999px, 43px, 0);
    }
    83.33333333333334% {
      clip: rect(53px, 9999px, 100px, 0);
    }
    86.66666666666667% {
      clip: rect(78px, 9999px, 92px, 0);
    }
    90% {
      clip: rect(21px, 9999px, 6px, 0);
    }
    93.33333333333333% {
      clip: rect(3px, 9999px, 52px, 0);
    }
    96.66666666666667% {
      clip: rect(141px, 9999px, 136px, 0);
    }
    100% {
      clip: rect(147px, 9999px, 46px, 0);
    }
  }
  @keyframes glitch-anim-2 {
    6.666666666666667% {
      clip: rect(17px, 9999px, 78px, 0);
    }
    10% {
      clip: rect(75px, 9999px, 59px, 0);
    }
    13.333333333333334% {
      clip: rect(40px, 9999px, 146px, 0);
    }
    16.666666666666664% {
      clip: rect(46px, 9999px, 40px, 0);
    }
    20% {
      clip: rect(99px, 9999px, 120px, 0);
    }
    23.333333333333332% {
      clip: rect(114px, 9999px, 111px, 0);
    }
    26.666666666666668% {
      clip: rect(126px, 9999px, 13px, 0);
    }
    30% {
      clip: rect(31px, 9999px, 7px, 0);
    }
    33.33333333333333% {
      clip: rect(84px, 9999px, 40px, 0);
    }
    36.666666666666664% {
      clip: rect(106px, 9999px, 28px, 0);
    }
    40% {
      clip: rect(111px, 9999px, 35px, 0);
    }
    43.333333333333336% {
      clip: rect(22px, 9999px, 125px, 0);
    }
    46.666666666666664% {
      clip: rect(91px, 9999px, 11px, 0);
    }
    50% {
      clip: rect(42px, 9999px, 66px, 0);
    }
    53.333333333333336% {
      clip: rect(79px, 9999px, 95px, 0);
    }
    56.666666666666664% {
      clip: rect(81px, 9999px, 146px, 0);
    }
    60% {
      clip: rect(13px, 9999px, 106px, 0);
    }
    63.33333333333333% {
      clip: rect(133px, 9999px, 72px, 0);
    }
    66.66666666666666% {
      clip: rect(58px, 9999px, 143px, 0);
    }
    70% {
      clip: rect(3px, 9999px, 104px, 0);
    }
    73.33333333333333% {
      clip: rect(71px, 9999px, 69px, 0);
    }
    76.66666666666667% {
      clip: rect(4px, 9999px, 87px, 0);
    }
    80% {
      clip: rect(141px, 9999px, 43px, 0);
    }
    83.33333333333334% {
      clip: rect(53px, 9999px, 100px, 0);
    }
    86.66666666666667% {
      clip: rect(78px, 9999px, 92px, 0);
    }
    90% {
      clip: rect(21px, 9999px, 6px, 0);
    }
    93.33333333333333% {
      clip: rect(3px, 9999px, 52px, 0);
    }
    96.66666666666667% {
      clip: rect(141px, 9999px, 136px, 0);
    }
    100% {
      clip: rect(147px, 9999px, 46px, 0);
    }
  }
  #sdr-container {
    width:calc(100% - 40px);
    margin:20px;
    box-sizing: border-box;
    background: rgba(52, 152, 219,.75);
    text-align:center;
    color:white;
    font-family: 'Open Sans', sans-serif;
    padding:60px 0 120px 0;
  }
  #sdr-container h2 {
    padding:40px;
    font-size:48px;
    margin-bottom:32px;
    font-family: 'Quicksand', sans-serif;
  }
  #sdr-container .sep {
    width:60px;
    height:1px;
    background:white;
    margin:auto;
    margin-bottom:24px;
  }
  #sdr-container p {
    margin-bottom:24px;
  }
  #sdr-container a {
    text-decoration: none;
    color:white;

  }